 <!DOCTYPE html>
 <html lang="pt-pt">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Credenciais de Acesso à AllPharma</title>

     <style>
    
        p{        
            text-indent: 40px
        }
        p#cabecalho{
            text-align:center
        }

        .button {
            border: none;
            color: #008CBA;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            transition-duration: 0.4s;
            cursor: pointer;
        }
        button#bottaoEntrar {
            background-color: white; 
            color: black; 
            border: 2px solid #008CBA;
        }

        button#bottaoEntrar:hover {
            background-color: #008CBA;
            color: white;
        }
        
     </style>
 </head> 
 <body>
    
 <p id="cabecalho"><span style="font-size: 24px">É hora de começar</span><br> Em alguns passos básicos para se familiarizar com a allpharma</p><br>

 <p>Para verificar a sua conta aceda ao site da plataforma e insira as suas credenciais, para a verificação do seu email, utilize o código de verificação ou clique no link de verificação.</p>
 <p>Para aceder a sua conta utilize o seu nome de utilizador e a sua palvra-passse.</p>

 <h4 style="text-indent: 40px">Credenciais de acesso à plataforma AllPharma:</h4>
 <p>Nome de Utilizador: {{userName}}</p>
 <p>Palavra-Passe: {{password}}</p>
 <b><p>Clique no botao abaixo para entrar:  </p></b>
 <div id="entrar">
     <form method="post" action="{{link}}">
        <button class="button" id="botaoEntrar" type="submit">Entrar</button>
    </form>
 </div>
<br>
<h5>
    AllPharma | Comunicado
    T +244 930 869 023 | allpharma.enterprise@gmail.com
</h5>
Este é um email automático não responda
    <a href="allpharma.co.ao"> www.allpharma.co.ao </a>

<div style="height: 100px">

</div>
<footer style="font-size:10pt; font-family:Arial">
    <span style="font-size:6pt">Antes de imprimir esta mensagem, pense no meio ambiente.
        <br>
Esta mensagem e-mail, assim como os ficheiros eventualmente anexos, é reservada aos seus destinatários e pode conter informação confidencial ou estar sujeita a restrições legais. Se não é o seu destinatário ou se
<br>
recebeu esta mensagem por motivo de erro, solicitamos que não faça qualquer uso ou divulgação do seu conteúdo e proceda à eliminação permanente desta mensagem e respectivos anexos.
<br>
</span>
<span style="font-size:6pt"><br>
allpharma - Tudo em nós | Sede Social: LUANDA | Capital Social 150.000,00 AOA | Contribuinte nº xxxxxxxxxxxxxx</span>
</footer>
 
 </body>
 </html>
 