 <!DOCTYPE html>
 <html lang="pt-pt">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Código para reactivação da conta AllPharma</title>

     <style>
    
        p{        
            text-indent: 40px
        }
        p#cabecalho{
            text-align:center
        }
        
     </style>
 </head> 
 <body>
    
 <p id="cabecalho"><span style="font-size: 24px">É bom tê-lo connosco</span><br> Em alguns passos poderá voltar a ter acesso a sua conta AllPharma</p><br>

 <p>Para reactivar a sua conta aceda ao site da plataforma, clique em recuperar senha, em seguida introduza o seu nome de utilizador e clique em "já tenho o código", após introduzir o <strong>Código de Ativação</strong> clique em "Activar Conta" e a sua conta estará activada. Aguardamos por si.</p><br>

 <p>Outra alternatva seria simplesmente clicar no <strong>Link para reactivção</strong> e pronto! já pode aceder a sua conta .</p><br>

 <h4 style="text-indent: 40px">Código de Reativação da conta AllPharma allpharma:</h4>
 <p>Nome de Utilizador: {{userName}}</p>
 <p>Código de Activação: {{validatitionCode}} </p>
 <p><strong>Link para reactivção:</strong> {{link}}</p>
<br>
<h5>
    AllPharma | Comunicado
    T +244 930 869 023 | allpharma.enterprise@gmail.com
</h5>
Este é um email automático não responda
    <a href="allpharma.co.ao"> www.allpharma.co.ao </a>

<div style="height: 100px">

</div>
<footer style="font-size:10pt; font-family:Arial">
    <span style="font-size:6pt">Antes de imprimir esta mensagem, pense no meio ambiente.
        <br>
Esta mensagem e-mail, assim como os ficheiros eventualmente anexos, é reservada aos seus destinatários e pode conter informação confidencial ou estar sujeita a restrições legais. Se não é o seu destinatário ou se
<br>
recebeu esta mensagem por motivo de erro, solicitamos que não faça qualquer uso ou divulgação do seu conteúdo e proceda à eliminação permanente desta mensagem e respectivos anexos.
<br>
</span>
<span style="font-size:6pt"><br>
allpharma - Tudo em nós | Sede Social: LUANDA | Capital Social 150.000,00 AOA | Contribuinte nº xxxxxxxxxxxxxx</span>
</footer>
 
 </body>
 </html>
 